body {
  margin: 0;
  padding: 0;
}

/* --- СТИЛИЗАЦИЯ СКРОЛЛА ПО ВСЕМУ САЙТУ --- */

/* 1. Настройки для Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  /* Ширина вертикального скролла */
  height: 10px;
  /* Высота горизонтального (если появится) */
}

/* Дорожка (фон) */
::-webkit-scrollbar-track {
  background: #f7f7f7;
  /* Светло-серый фон в тон твоего дизайна */
  border-radius: 100px;
}

/* Ползунок */
::-webkit-scrollbar-thumb {
  background-color: #387b64;
  /* Твой основной зеленый */
  border-radius: 100px;
  /* Максимальное закругление */
  border: 3px solid #f7f7f7;
  /* Отступ от краев, создаёт эффект "парящей" полоски */
  transition: background-color 0.3s ease;
}

/* Состояние при наведении */
::-webkit-scrollbar-thumb:hover {
  background-color: #2d6350;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #387b64 #f7f7f7;
}

input,
button,
a {
  -webkit-tap-highlight-color: transparent;
}