/* PopularCarsSection.css */

.popularCarsSection {
    max-width: 1240px;
    margin: 60px auto;
    padding: 0 20px;
    position: relative;
}

.sectionTitlee {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: left;
}



.sectionSubtitle {
    font-size: 15px;
    color: #777;
    margin-top: 30px;
    text-align: center;
    font-style: italic;
}

.sliderWrapper {
    position: relative;
    /* padding: 0 50px; */
}

.navBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
    color: #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Скрываем кнопки, если Swiper помечает их как "disabled" */
.navBtn.swiper-button-disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.navBtn:hover:not(.swiper-button-disabled) {
    background-color: #387b64;
    color: #fff;
    border-color: #387b64;
}

.prev-el {
    left: 0;
}

.next-el {
    right: 0;
}




@media (max-width: 768px) {
    .popularCarsSection {
        padding: 0;
    }


    .sliderWrapper {
        padding: 0 !important;
        overflow: hidden;
    }

    .sectionTitlee {
        padding-left: 20px;
        font-size: 24px;
    }

    .navBtn {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }

    .prev-el {
        left: 10px;
    }

    .next-el {
        right: 10px;
    }

    /* Эффект фокуса на активном слайде для мобилок */
    .swiper-slide {
        transition: opacity 0.3s ease;
        opacity: 0.5;
    }

    .swiper-slide-active {
        opacity: 1;
    }


}